.testimonialCard {
    /* width: 271.5px; */
    margin-right: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    padding: 20px;
    text-align: left;
    position: relative;
    /* height: auto; */
    margin-top: 50px;
    margin-bottom: 10px;
}

.testimonialContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}

.testimonialAuthorImg img {
    /* border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover; */

}

.testiImage {
    position: absolute;
    top: -45px;
    left: 25px;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 50px;
    border: 5px solid #fe7a36;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.testimonialHeading{
    color: #0d2048;
    font-size: 44px;
    font-weight: 600;
}

.subHeading {
    letter-spacing: 1px;
    line-height: 1.2;
    color: #fe7a36;
}


.testimonialAuthorInfo h4 {
    margin: 24px 0 8px;
    color: #0d2048;
    line-height: 1.2;
    font-weight: 600;
    font-size: 20px;
}

.testimonialAuthorInfo p {
    margin: 0;
    font-size: 14px;
    color: #fe7a36;
}

.testimonialQuote {
    position: relative;
    /* margin-bottom: 20px; */
}

.testimonialQuoteIcon {
    position: absolute;
    top: -15px;
    left: 10px;
    color: #fe7a36;
}

.testimonialQuote p {
    font-size: 16px;
    color: #111111;
    line-height: 1.6;
    padding: 0 10px;
    margin: 0;
}

.testimonialRate {
    display: flex;
    justify-content: center;
}

.testimonialRate .fa-star {
    color: #fe7a36;
    margin: 0 2px;
}

.testimonialRate .fa-star.filled {
    color: #f39c12;
}
.slick-prev:before, .slick-next:before{
    color: #b6b6b6!important;
}